[Desktop Entry]
Type=Application
Exec=QtDice
Icon=dice.png
Terminal=false
Name=QtDice
GenericName=Roll the dice game
Comment=Roll the dice with Qt5
Categories=Game;
