[Desktop Entry]
Type=Application
Exec=QtDice
Icon=dice
Terminal=false
Name=QtDice
GenericName=Simple Qt5 game to roll the dice
Comment=Roll the dice with Qt5
Categories=Game;
